.testimonialCard {
    background-color: #EDEFEE;
    padding: 1rem;
    border-radius: 1rem;
}

.testimonialCard figcaption {
    text-align: center;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 700;
}

.testimonialCard em {
    display: block;
    text-align: center;
}

.testimonialCard blockquote {
    margin: 0;
    padding: 2rem 1rem;
    line-height: 1.5;
    font-style: italic;
}